/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(rgb(175, 175, 175), green, blue, alpha);

}
.navLink:hover{
background-color: rgba(rgb(77, 77, 77), green, blue, alpha);

} */
/* h4{
text-align: center;
} */
